<section id="collection-four">
    {% for collection in collections %}
        {{ collection.title | link_to: collection.url }}
        <img src="{{ collection.image | img_url: "master" }}">
    {% endfor %}
</section>