<div class="page-width faq-page-width">
  <section id="faq-ten" class="faq-menu-contents">
    <a class="faq-menu" href="#faq-ten">{{ section.settings.faq_menu_title }}</a>
    {% for block in section.blocks %}
    {% case block.type %}
    {% when 'question' %}
    <div class="faq-card">
      <a href="#">{{ block.settings.title }}<i class="custom-tab-icon tab-open"></i></a>
      <div class="content">
        {{ block.settings.text }}
      </div>
    </div>
    {% endcase %}
    {% endfor %}
  </section>
</div>
{% schema %}
  {
    "name": "FAQs Menu Section: Ten",
	"class": "faq-third",
    "settings": [
            {
              "type": "text",
              "id": "faq_menu_title",
              "label": "Ten FAQ Menu",
              "default": "Voting FAQs"
            }
		],
	"blocks": [
		{
		"type": "question",
        "name": "Question",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Question",
            "default": "Frequently asked question"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
          }
        ]
		}
		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
