{% style %}
  .custom-page-navigation {
    margin: 20px 10px;
  }
  .custom-page-navigation ul {
    list-style-type: none;
    margin-left: 0px;
  }
  .custom-page-navigation .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:25px;
  }
  .custom-page-navigation .navbar a {
    font-size: 12px;
    text-underline-offset: 10px;
  }
  .custom-page-navigation .active a {
    text-decoration: underline
  }
  @media only screen and (max-width: 650px) {
    .custom-page-navigation .navbar a{
      font-size: 8px;
      text-underline-offset: 8px;
    }
    .custom-page-navigation .navbar {
        gap: 12px;
  }
  }
{% endstyle %}
<section class="custom-page-navigation">  <ul class="navbar">    <li class="{% if request.path == '/' %}active{% endif %}">      <a href="#">ABOUT US</a>    </li>    <li class="{% if request.path == '/' %}active{% endif %}">      <a href="#">OUR WAY</a>    </li>    <li class="{% if request.path == '/' %}active{% endif %}">      <a href="#">PROFIT SHARING</a>    </li>    <li class="{% if request.path == '/' %}active{% endif %}">      <a href="#">SUSTAINABILITY & MATERIALS</a>    </li>  </ul></section>{% schema %}
  {
    "name": "Np Static Page Navigation",
    "class": "section",
    "tag": "section",
    "settings": [],
    "presets": [
      {
        "name": "Np Static Page Navigation"
      }
    ]
  }
{% endschema %}