<div class="page-width page-content">
  <header class="section-header section-header--404">
    <h1 class="section-header__title">{{ 'general.404.title' | t }}</h1>
    <div class="rte text-spacing">
    {{ 'general.404.subtext_html' | t }}
    </div>
  </header>

<style>
  .section-header--404 {
  	padding: 40px 0 !important;
  }
  .collection-404-page .section-header__title{
	text-align: center;
    margin: 10px 0 50px 0;
    text-transform: capitalize;
}
</style>