<div id="np-vote-now">

{% section 'vote-intro' %}

{% section 'vote-page-charities' %}

{% section 'vote-code' %}
  
</div>

<style>
  #shopify-section-global-newsletter {
  	display: none;
  }
</style>